<%- include("partials/header.ejs") %>
<h1>Home</h1>
<p><%= startContent %></p>
<form action="/" method="post">
    <button class="btn btn-primary" type="submit" name="button">Create Post</button>
</form>
<% const trunc= (input) =>input.substring(0, 100) + ' ... '; %>
<% posts.forEach(post => {  %>
    <h1><%= post.title %></h1>
    <p><%= trunc(post.content) %><a href="/posts/<%= post.title %>">Read More</a></p>
<% }); %>
<%- include("partials/footer.ejs") %>